.payment-box {
  background: white;
  width: 350px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #4d3624;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.payment-box input,
.payment-box select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.pay-btn {
  width: 100%;
  padding: 10px;
  background: #4d3624;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.close-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background: #777;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
